* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

 body {
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.8fr 0.2fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "title ."
    "body sidebar"
    "footer .";
  height:100vh;
  width: 100vw;
}
.title { 
  grid-area: title;
  text-align: center;
 }
.webtitle { 
  text-align: center;
}
.sidebar { 
  grid-area: sidebar;
  padding: 10px;
  border-radius: 10px 0px 0px 10px ;
  /* border-left: 1px solid black; */
  background-color: rgb(219, 215, 215);
 }
.body { 
  grid-area: body;
}

.bodyplan {
  display:grid;
  grid-auto-flow: column;
  gap: 0px 50px;
  padding:0 50px;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.bodyplaninner {
  width: fit-content;
  margin: auto auto;
  align-items: center;
}


.body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.footer { 
  grid-area: footer;
  text-align: center;
  padding: 5px;
}

.grid-container1 {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid rgb(175, 172, 172);
  box-shadow: 1px 3px rgb(56, 54, 54);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4.2fr 0.6fr 0.6fr;
  grid-template-rows: 1fr 2.2fr 0.4fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
  "taskName . x"
  "taskDay privateTask privateTask"
  "taskDifficulty down up"
  ". compButton compButton";
}

.grid-container2 {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background: #b1b1b1;
  border: 1px solid rgb(175, 172, 172);
  box-shadow: 1px 3px rgb(56, 54, 54);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4.2fr 0.6fr 0.6fr;
  grid-template-rows: 1fr 1fr 0.4fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
  "taskName . x"
  "taskDay privateTask privateTask"
  "taskDifficulty down up"
  ". compButton compButton";
}

.privateTask {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
  ". plock plock"
  ". switch switch";
  grid-area: privateTask;
}
.plock {
  grid-area: plock;
  text-align: center;
  align-self:flex-end;
  animation: fadeIn 3s;
  color: rgba(255, 0, 0, 0.699);

}
.switch { 
  grid-area: switch;
  left: 10%;
  width: 60px;
  height: 34px;
  position: relative;
  display: inline-block;
 }
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.reminder {
  border-left: 5px solid green;
}

.taskName { 
  margin-top: 15px;
  margin-left: 5px;
  font-size: 20px; 
  grid-area: taskName;
}

.taskDay { 
  font-size: 15px;  
  grid-area: taskDay;
  margin-left: 5px;
  margin-top: 10px;
}

.x { 
  grid-area: x;
  text-align: center;
  margin-top: 30%;
}

.xstyle {
  color: #2196f3;
  font-stretch: ultra-expanded;
  height: 25px;
  width: 25px;
  margin-left: 25%;
}
.xstyle:hover{
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 50px;
  
}

.xstyle:active{
    transform: scale(0.9);
}



.compButton { 
  align-items: center;
  justify-items: center;
  display: grid;
  grid-area: compButton;
}

.taskDifficulty {
  grid-area: taskDifficulty;
  margin-left: 5px; 
}

.up { 
  grid-area: up;
  font-size:20px;
  margin-top: auto;
  margin-left: auto;
}

.up.max{
  color:grey;
}

.down.max{
  color:grey;
}

.down { 
  grid-area: down;
  font-size: 20px; 
  margin-top: auto;
  margin-left: auto;
}



.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

/* .btn-block {
  display: block;

} */

.logincontainer {
  text-align: center;
  font-size: large;
  max-width: 400px;
  margin: 100px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}


.followcontainer {
  text-align: center;
  font-size: large;

}

.add-form {
  margin-bottom: 40px;
  text-align: center;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.addbtn {
  text-align: right;
}

.logoffButton {
  color:#2196f3;
  cursor: pointer;
  width: 10%;
  margin-left: auto;
}

.logoffButton:active {
  transform: scale(0.9);
}

.logoffButton:hover{
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 20px;
  
}



