* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


 body {
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.8fr 0.2fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "title ."
    "body sidebar"
    "footer .";
  height:100vh;
  width: 100vw;
}
.title { 
  grid-area: title;
  text-align: center;
 }
.webtitle { 
  text-align: center;
}
.sidebar { 
  grid-area: sidebar;
  padding: 10px;
  border-radius: 10px 0px 0px 10px ;
  /* border-left: 1px solid black; */
  background-color: rgb(219, 215, 215);
 }
.body { 
  grid-area: body;
}

.bodyplan {
  display:grid;
  grid-auto-flow: column;
  gap: 0px 50px;
  padding:0 50px;
  overflow: scroll;
  overflow-x: hidden;
}

.bodyplaninner {
  width: fit-content;
}


.body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.footer { 
  grid-area: footer;
  text-align: center;
  padding: 5px;
}

.grid-container1 {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid rgb(175, 172, 172);
  box-shadow: 1px 3px rgb(56, 54, 54);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4.2fr 0.6fr 0.6fr;
  grid-template-rows: 1fr 2.2fr 0.4fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
  "taskName . x"
  "taskDay . ."
  "taskDifficulty down up"
  ". compButton compButton";
}

.reminder {
  border-left: 5px solid green;
}

.taskName { 
  margin-top: 15px;
  margin-left: 5px;
  font-size: 20px; 
  grid-area: taskName;
}

.taskDay { 
  font-size: 15px;  
  grid-area: taskDay;
  margin-left: 5px;
  margin-top: 10px;
}

.x { 
  grid-area: x;
  margin-top: auto;
  margin-left: auto;
}

.compButton { 
  align-items: center;
  justify-items: center;
  display: grid;
  grid-area: compButton;
}

.taskDifficulty {
  grid-area: taskDifficulty;
  margin-left: 5px; 
}

.up { 
  grid-area: up;
  font-size:20px;
  margin-top: auto;
  margin-left: auto;
}

.up.max{
  color:grey;
}

.down.max{
  color:grey;
}

.down { 
  grid-area: down;
  font-size: 20px; 
  margin-top: auto;
  margin-left: auto;
}



.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

/* .btn-block {
  display: block;

} */

.logincontainer {
  text-align: center;
  font-size: large;
  max-width: 400px;
  margin: 100px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}


.followcontainer {
  text-align: center;
  font-size: large;

}

.add-form {
  margin-bottom: 40px;
  text-align: center;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.addbtn {
  text-align: right;
}